/*---- Global style rules ----*/

body {
  margin: 0;
  font-family: "poppins", sans-serif;
}

/*--- Header start ---*/

.header {
  background-image: url(landing-page-picture.png);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 60vh;
}

.flex {
  display: flex;
  max-width: 1150px;
  margin: 0 auto;
}

.header .flex {
  display: flex;
  justify-content: space-between;
}

.header-logo {
  width: 10px;
  height: auto;
}

.nav-bar {
  display: flex;
  justify-content: space-between;
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.nav-bar li a {
  text-decoration: none;
  display: inline-block;
  font-size: 1em;
  margin: 0 12px;
  padding-top: 10px;
  color: #fff;
}

.banner {
  text-align: center;
  color: #fff;
  font-size: 30px;
  margin-top: 100px;
}

/*--- Footer Start  ---*/

footer {
  background-color: rgb(30, 49, 58);
  margin-top: 100vh;
  display: flex;
  justify-content: space-between;
}

.address {
  color: #fff;
  font-size: 12pt;
}

.location {
  opacity: 0.5;
}

.footer-logo {
  color: #b67b2fea;
  margin-left: 70px;
  font-size: 5vh;
}

.follow {
  color: #fff;
  margin-right: 70px;
}

.follow a i {
  display: inline-block;
  color: #fff;
  margin-bottom: 70px;
  justify-items: right;
}
